  #map-canvas {
    height: 50%;
    margin: 5px;
    padding: 0px
  }
  html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
  }
  #llistat_ocult{
    width: 100%;
    height: 0px;
    background: #000;
    box-shadow: 10px 10px 3px #D8D8D8;
    transition: height .4s;
    display: none;
  }
  #esquerra{
    float: left;
    width: 50%;
    height: 35%;
    overflow-y: auto
  }
  #dreta{
    float: right;
    width: 50%;
    height: 35%;
    overflow-y: scroll
  }
  #nfocamp table{
    margin: 10px;
  }
  #infocamp td:first-child{
    text-align:right;
  }
  #infocamp td
  {
    padding: 5px;
  }
  #infocamp tr:first-child{
    font-size: 20px;
    font-weight: bold;
  }
  #overlay4{
      position:absolute;
      top:0;
      left:0;
      width: 100%;
       z-index:1;
       height: 100%;
  }

  #overlay4 div{
              position: relative;
              left: 50%;
              margin-left:-150px;
              border: 1px solid #666;
              background-color: #000;
              border-radius:5px;
              color: #FFF;
              width:300px;
              z-index:3;
              top:10px;
      }

  #overlay4 div.background{
              position: absolute;
              width:100%;
              height: 100%;
              margin:auto;
              background-color: #000;
              opacity:0.5;
              z-index:2;
              top:0;
              left:0;
      }
